/* Estilo para el contenedor del mapa para ocupar toda la pantalla */
html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Contenedor para la barra de color */
#colorbars-container {
  position: absolute;
  right: -5px;
  bottom: 95px;
  top: 75%; /* Ocupa desde la mitad hasta el borde inferior */
  width: 60px; /* Ancho ajustado a la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
}

#colorbars-container img {
  width: 100%;
  object-fit: contain;
}


/* Estilo para el div de información de valores en tiempo real */
#infoWindow {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  display: none;
}