/* Estilo para el contenedor del mapa para ocupar toda la pantalla */
html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Contenedor para la barra de color */
#colorbars-container {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 50%; /* Ocupa desde la mitad hasta el borde inferior */
  width: 40px; /* Ancho ajustado a la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
}

#colorbars-container img {
  width: 100%;
  object-fit: contain;
}
